$global-nav-colour:#3d4a57;
$border-colour: #666;
$body-colour: rgb(80,66, 79);
$container-colour: rgb(40,45,47);
$colour-White: #FFF;


@import "mixins";

// Font sizes
$huge-font-size: 28px;
$bigger-font-size: 24px;
$big-font-size: 20px;
$medium-font-size: 16px;
$font-size: 14px;
$filter-font-size: 13px;
$small-font-size: 12px;
$smaller-font-size: 8px;

// Break points
$xsmall-width: 480px;
$small-width: 481px;
$medium-width: 741px;
$large-width: 1001px;
$xlarge-width: 1441px;