@import './meyer-reset';

@import "./vars";
@import "./typography";
@import "./utils";
@import "./containers";
@import "./components";

body {
    background: $body-colour;
    font-size: $font-size;
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #d7d7d7;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    background-color: $container-colour;
    max-width: 1080px;
    margin: 0 auto;
    padding:0 10px;
}

.border{
    border-bottom: 1px solid #d7d7d7;
    color: $border-colour;
    font-size: 14px;
    font-weight: 200;
    padding: 7px 10px 4px;
    background-color: white;
    @include border-radius(10px);
}

