@import './meyer-reset';
@import "./vars";
@import "./containers";
@import "./components";

body {
    background: rgb(80,66, 79);
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #d7d7d7;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    background-color: rgb(40,45,47);
    max-width: 1080px;
    margin: 0 auto
}

.border{
    border-bottom: 1px solid #d7d7d7;
    color: $border-colour;
    font-size: 14px;
    font-weight: 200;
    padding: 7px 10px 4px;
    background-color: white;
    @include border-radius(10px);
}

