html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.global-navigation {
  background-color: #3d4a57;
  min-height: 80px; }

.import-file_link {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: none; }

.global-footer {
  border-top: 1px solid #d7d7d7;
  min-height: 80px; }

body {
  background: #f2f2f2;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  padding: 7px 10px 4px;
  margin-bottom: 20px; }

.transactions-list_total {
  top: 20px;
  right: 20px;
  position: fixed;
  background-color: white;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.total-amount {
  font-size: 18px;
  margin: 0 auto; }

.wrapper {
  padding: 20px;
  max-width: 1024px;
  margin: 10px auto 30px; }

.border {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.transactions-list__item {
  padding: 5px 10px; }
  .transactions-list__item div {
    width: 20%;
    display: inline-block;
    vertical-align: middle; }
  .transactions-list__item .transactions-list__item-date {
    width: 10%; }
  .transactions-list__item .transactions-list__item-retailer {
    width: 80%; }
  .transactions-list__item .transactions-list__item-amount {
    width: 4%;
    text-align: right; }
  .transactions-list__item .transactions-list__item-checkbox {
    padding-left: 5px;
    width: 4%; }
    .transactions-list__item .transactions-list__item-checkbox input {
      width: 15px;
      height: 15px; }
  .transactions-list__item.active {
    background-color: #f2f2f2; }

.transactions-list_total-amount {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
